{% extends "queuer/basee.html" %}
{% load static %}
{% block contents %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">We offer a contact free solution to manage queues at your businesses!</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">You can now reserve a spot in the queue and wait comfortably and safely from a distance and avoiding large crowds.</h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Get Started</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="{% static  'queuer/assets/img/new-qm.png'%}" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <div class="container" data-aos="fade-up">
      <div class="row gx-0">

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="content">
            <h3>Our Goal!</h3>
            <h2>Protect yourself and your clients during these times!</h2>
            <p>
              Our main Goal is to provide businesses with a perfect solution for the to open their businesses safely during this pandemic
              by providing them with a virtual queue is that is very to use and will prevent crowding in such places.
            </p>
         <!--   <div class="text-center text-lg-start">
              <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Read More</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div> -->
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static  'queuer/assets/img/token-qm.jpg'%}" class="img-fluid" alt="">
        </div>

      </div>
    </div>

  </section><!-- End About Section -->

  <!-- ======= Values Section ======= -->
  <section id="values" class="values">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>The Process</h2>
        <p>How to get in the queue!</p>
      </header>

      <div class="row">

        <div class="col-md-3">
          <div class="box" data-aos="fade-up" data-aos-delay="200">
            <img src="{% static  'queuer/assets/img/proc1.png'%}" class="img-fluid" alt="">
            <h3>Step 1</h3>
            <p>Scan the QR-Code</p>
          </div>
        </div>

        <div class="col-md-3 ">
          <div class="box" data-aos="fade-up" data-aos-delay="400">
            <img src="{% static  'queuer/assets/img/proc2.png'%}" class="img-fluid" alt="">
            <h3>Step 2</h3>
            <p>Generate a e-ticket</p>
          </div>
        </div>


        <div class="col-md-3 ">
          <div class="box" data-aos="fade-up" data-aos-delay="600">
            <img src="{% static  'queuer/assets/img/proc4.png'%}" class="img-fluid" alt="">
            <h3>Step 3</h3>
            <p>Get notified that your turn is coming</p>
          </div>
        </div>

        <div class="col-md-3 ">
          <div class="box" data-aos="fade-up" data-aos-delay="600">
            <img src="{% static  'queuer/assets/img/proc5.png'%}" class="img-fluid" alt="">
            <h3>Step 4</h3>
            <p>Go to the designated area</p>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Values Section -->




  <!-- ======= Features Section ======= -->
  <section id="features" class="features">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Features</h2>
        <p>Our products features!</p>
      </header>

      <div class="row">

        <div class="col-lg-6">
          <img src="{% static  'queuer/assets/img/folqueue.jpg'%}" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
          <div class="row align-self-center gy-4">

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>free to use!</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Contactless e-Ticket</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Quick and easy to setup</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>No App installation needed</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Secure, and easy to set up</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>No more waiting in lines</h3>
              </div>
            </div>

          </div>
        </div>

      </div> <!-- / row -->



      <!-- Feature Icons -->
      <div class="row feature-icons" data-aos="fade-up">
        <h3>Do you Own a store? And want to use Queue Up at your location?</h3>

        <div class="row">

          <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static  'queuer/assets/img/qfeature.jpg'%}" class="img-fluid p-4" alt="">
          </div>

          <div class="col-xl-8 d-flex content">
            <div class="row align-self-center gy-4">

              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="bi bi-patch-check-fill"></i>
                <div>
                  <h4>Call tickets</h4>
                  <p>Call the next ticket with just a push of a button.</p>
                 
                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bi bi-patch-check-fill"></i>
                <div>
                  <h4>Ticket History</h4>
                  <p>You can check the previous tickets called and their contact information.</p>
                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-patch-check-fill"></i>
                <div>
                  <h4>Generate Many queues</h4>
                  <p>Can generate an unlimited amount of queues for all your stores locations.</p>
                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-patch-check-fill"></i>
                <div>
                  <h4>Waiting line.</h4>
                  <p>Can check the total amount of people currently waiting</p>
                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-patch-check-fill"></i>
                <div>
                  <h4>Reset queues</h4>
                  <p>Possibility to reset queue.</p>
                </div>
              </div>

              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                <i class="bi bi-patch-check-fill"></i>
                <div>
                  <h4>Client push notification</h4>
                  <p>Notify your customers using email and SMS.</p>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div><!-- End Feature Icons -->

    </div>

  </section><!-- End Features Section -->






 



  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </header>

      <div class="row gy-4">

        <div class="col-lg-6">

          <div class="row gy-4">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
              
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-envelope"></i>
                <h3>Email Us</h3>
                <p>info@example.com<br>contact@example.com</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-clock"></i>
                <h3>Support Hours</h3>
                <p>Monday - Friday<br>9:00AM - 05:00PM</p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">
          <form action="forms/contact.php" method="post" class="php-email-form">
            <div class="row gy-4">

              <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="Your Name" required>
              </div>

              <div class="col-md-6 ">
                <input type="email" class="form-control" name="email" placeholder="Your Email" required>
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" placeholder="Subject" required>
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
              </div>

              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>

                <button type="submit">Send Message</button>
              </div>

            </div>
          </form>

        </div>

      </div>

    </div>

  </section><!-- End Contact Section -->

</main><!-- End #main -->
{% endblock contents %}